/* genric css */

body {
    background-color: gray;
}

.container {
    background-color: #fff;
    margin: 25px;
    padding: 1rem;
    border-radius: 15px;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: serif;
    background-color: #495C83;
    color: #fff;
    border-radius: 15px;
    padding: .5rem;
}

.profile {
     background-color: yellow;
     color: blue;
}

/* flexbox css */

.container {
    display: flex;
    justify-content: space-between;
}